<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.backscratch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

      <!--Auth0 Lock-->
      <activity
        android:name="com.auth0.lock.LockActivity"
        android:theme="@style/AppTheme.Lock.Theme"
        android:screenOrientation="portrait"
        android:launchMode="singleTask">
      </activity>
      <!--Auth0 Lock End-->
      <!--Auth0 Lock Embedded WebView-->
      <activity
          android:name="com.auth0.identity.web.WebViewActivity"
          android:theme="@style/AppTheme.Lock.Theme">
      </activity>
      <!--Auth0 Lock Embedded WebView End-->
      <!--Auth0 Lock Passwordless-->
      <activity
          android:name="com.auth0.lock.passwordless.LockPasswordlessActivity"
          android:theme="@style/AppTheme.Lock.Theme"
          android:screenOrientation="portrait"
          android:launchMode="singleTask">
      </activity>
      <activity
          android:name="com.auth0.lock.passwordless.CountryCodeActivity"
          android:theme="@style/AppTheme.Lock.Theme">
      </activity>
      <!--Auth0 Lock Passwordless End-->
    </application>

</manifest>
