import React from 'react';

import { PepperoniIcon } from './Pepperoni';
import { FlexRow } from './Layout';
import { Title } from './Text';

export default class {{ properCase name }} extends React.Component {
  render = () =>
    <FlexRow>
      <PepperoniIcon />
      <Title>
        {{ properCase name }}
      </Title>
    </FlexRow>;
}
